<%= form_with model: article do |form| %>
  <div>
    <%= form.label :Title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :Description %><br>
    <%= form.text_field :body %>
  </div>
  <div>
    <%= form.file_field :avatar %>
  </div>
  <%= form.file_field :images, multiple: true %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>