
<h1>Articles</h1>
<ul>
    <% @articles.each do |article| %>
        <div class="article">
            <li><h3><%= article.title %></h3></li>
            <li><%= article.body %></li>
            <div>                
                <% if article.avatar.representable? %>
                    <%= image_tag article.avatar.representation(resize_to_limit: [100, 100]) %>
                <% end %>
            </div>
            <div>
              <% if article.images.attached?%>
                <% article.images.each do |image| %>
                  <%= image_tag image.representation(resize_to_limit: [100, 100]) %>
                <% end %>
              <% end %>
            </div>
            <%= link_to "Edit", edit_article_path(article) %>
            <%= link_to "Delete", article_path(article), data: {
                turbo_method: :delete
              } %>
        </div>
    <% end %>
</ul>
<%= link_to "Create new Article", new_article_path %>

